# Ignore sensitive information
.env

# Ignore files created by MacOS
.DS_store

# Ignore the CPSD logo
public/images/district-logo-cps.png

# Ignore the list of authentication codes for the mentor form
setup/test-data/codes.tsv