.course-list:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.course-list-form:hover {
    text-decoration: line-through;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

table, td {
    border: 1px solid black;
}