@font-face {
    font-family: "BubblegumSans-Regular";
    src: url("../fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-display: swap;
}

/* Color scheme */
body {
    background-color: #f5f5f5;
    
    --magenta: #b4436c;
    --teal: #00a693;
    --orange: #f77f50;
    --orange1: #f56329;
}

h1 {
    font-family: "BubblegumSans-Regular";
    font-size: 75px;
    color: var(--teal);
    text-align: center;
}

h2 {
    font-family: "BubblegumSans-Regular";
    font-size: 50px;
    color: var(--magenta);
    text-align: center;
}

h3 {
    font-family: "BubblegumSans-Regular";
    font-size: 50px;
    color: var(--magenta);
    margin-bottom: -5px;
}

button {
    font-family: "Lato-Regular";
    font-size: 20px;
    background-color: var(--orange);
    color: black;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--orange1);
}

p, label, input, table, td, ul {
    font-family: "Lato-Regular";
    font-size: 20px;
}

#logo {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#title {
    position: relative;
    left: 0px;
    right: 0px;
    cursor: pointer;
}

#nav-buttons {
    position: absolute;
    right: 10px;
    top: 75px;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
}

#search {
    font-size: 20px;
    color: black;
    background-color: white;
    width: 385px;
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

#mentor-results {
    text-align: center;
}

#table-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.course-list:hover {
    background-color: #eeeeee;
    cursor: pointer;
}

.course-list-form:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.left-col {
    border-right: none;
}

.right-col {
    border-left: none;
    text-align: right;
}

table {
    width: 500px;
    table-layout: auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

li {
    padding-bottom: 10px;
}

.form-input {
    width: 300px;
}

#form-container {
    display: flex;
}

#search-container {
    width: 550px;
}

#courses-container {
    flex: 1;
    margin-top: -55px;
}