@font-face {
    font-family: "BubblegumSans-Regular";
    src: url("../fonts/Bubblegum_Sans/BubblegumSans-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-display: swap;
}

/* Color scheme */
body {
    background-color: #f5f5f5;
    --light-gray: #eeeeee;
    
    --magenta: #b4436c;
    --magenta-dark: #772c48;
    --magenta-light: #f4e1e8;
    --magenta-light-2: #e9c3d1;
    --teal: #00a693;
    --teal-dark: #005248;
    --teal-light: #b2e6e0;
    --teal-light-2: #74d2c7;
    --orange: #f77f50;
    --orange1: #f56329;
}

h1 {
    font-family: "BubblegumSans-Regular";
    font-size: 85px;
    color: var(--teal);
    text-align: center;
}

h2 {
    font-family: "BubblegumSans-Regular";
    font-size: 50px;
    color: var(--magenta);
    text-align: center;
    margin-top: -20px;
}

h3 {
    font-family: "BubblegumSans-Regular";
    font-size: 50px;
    color: var(--magenta);
    margin-bottom: -5px;
}

button {
    font-family: "Lato-Regular";
    font-size: 20px;
    background-color: var(--orange);
    color: black;
    border: none;
    text-align: center;
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--orange1);
}

a {
    font-family: "Lato-Regular";
    color: var(--teal-dark);
}

a:visited {
    color: var(--magenta-dark);
}

p, label, input, table, td, ul {
    font-family: "Lato-Regular";
    font-size: 20px;
}

#logo {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#title {
    position: relative;
    left: 0px;
    right: 0px;
    top: -35px;
    cursor: pointer;
}

#nav-buttons {
    position: absolute;
    right: 10px;
    top: 10px;
}

.nav-button {
    width: 120px;
    margin-bottom: 5px;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
}

#search {
    font-size: 20px;
    color: black;
    background-color: white;
    width: 385px;
    display: inline-block;
    padding: 9px 12px;
    border: 1px solid black;
    border-radius: 5px;
}

#resources-container {
    width: 60%;
    margin: auto;
}

#resources-header {
    margin-top: -50px;
}

#resources {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.include {
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
}

.resource {
    font-family: "Lato-Regular";
    font-size: 20px;
    text-align: center;
    margin: auto;
    background-color: var(--magenta-light);
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

.resource:hover {
    background-color: var(--magenta-light-2);
}

.resource-text {
    text-align: center;
}

.opened-resource {
    text-align: center;
    margin: auto;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}

#links-container {
    display: flex;
}

.resource-links {
    font-family: "Lato-Regular";
    font-size: 20px;
    margin: auto;
    text-align: center;
    width: 50%;
    background-color: var(--teal-light);
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.resource-links:hover {
    background-color: var(--teal-light-2);
}

#link1 {
    margin-right: 4px;
}

#link2 {
    margin-left: 4px;
}

#about-ccc {
    border-top: 1px solid black;
}

#mentor-results {
    text-align: center;
}

#table-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.course-list:hover {
    background-color: var(--light-gray);
    cursor: pointer;
}

.course-list-form:hover {
    text-decoration: line-through;
    cursor: pointer;
}

.left-col {
    border-right: none;
}

.right-col {
    border-left: none;
    text-align: right;
}

table {
    width: 500px;
    table-layout: auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
}

li {
    padding-bottom: 10px;
}

.form-input {
    width: 300px;
}

#form-container {
    display: flex;
}

#mentor-form-heading {
    margin-top: 50px;
}

#search-container {
    width: 550px;
}

#courses-container {
    flex: 1;
    margin-top: -55px;
}

#submit-error {
    color: red;
}

#error {
    text-align: center;
    color: red;
}

#login-prompt, #error {
    width: 240px;
    text-align: center;
    margin: auto;
}

#login-button {
    position: relative;
    display: flex;
    justify-content: center;
}

#login-container {
    position: relative;
    display: flex;
    width: 576px;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#login-prompt-button {
    flex: 1;
}

#login-box {
    background-color: #f5f5f5;
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 992px) {
    #nav-buttons {
        position: relative;
        margin-top: -70px;
        margin-bottom: 21px;
        left: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
    }

    .nav-button {
        margin-left: 5px;
        margin-right: 5px;
    }

    #logo, #login-image-container {
        display: none;
    }

    #resources {
        margin-top: 50px;
    }

    #resources-container, #login-box {
        width: 80%;
    }

    .resource-links {
        height: 2.5em;
    }

    #login-container {
        width: auto;
        height: auto;
    }
}